<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longday.toolstudy.mapper.FdMenuMapper">

    <resultMap id="BaseResultMap" type="com.longday.toolstudy.domain.FdMenu">
            <id property="menuId" column="menu_id" jdbcType="BIGINT"/>
            <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
            <result property="menuPath" column="menu_path" jdbcType="VARCHAR"/>
            <result property="menuComponent" column="menu_component" jdbcType="VARCHAR"/>
            <result property="menuVisible" column="menu_visible" jdbcType="CHAR"/>
            <result property="menuStatus" column="menu_status" jdbcType="CHAR"/>
            <result property="menuPerms" column="menu_perms" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        menu_id,menu_name,menu_path,
        menu_component,menu_visible,menu_status,
        menu_perms,create_time,del_flag,
        remark
    </sql>
</mapper>
